body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

h1 {
  margin: 20px;
  color: #333;
}

model-viewer {
  max-width: 800px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

footer {
  margin: 20px;
  color: #888;
}
