body {
    margin: 0;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
}

/* Info Panel */
#info-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 280px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#info-panel h2 {
    margin-top: 0;
}

/* When clicking objects */
.highlight {
    outline: 3px solid yellow;
}
